<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<link rel="stylesheet" href="/css/home.css">
<div class="flex">
<% for( let d of data) { %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= d.name %> </h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= d.email %> </h6>
      <p class="card-text">
          <table>
            <tr>
                <td>Phone </td><td>: <%= d.phone %> </td>
            </tr>
            <tr>
                <td>Check In Time </td><td>: <%=d.entryTime%></td>
            </tr>
            <tr>
                <td>Check Out Time </td><td>: <%=d.exitTime%></td>
            </tr>
          </table>
      </p>
      <%if(d.status){%>
        <form action="/home/exit/<%= d._id  %>?_method=PATCH" method="POST">
             <button>Check Out</button>
        </form>
        <% } %> 
        <% if(d.status===false) {%>
            <button style="background-color: #0f4c5c;" disabled>Check Out</button>
        <% } %>      
      <form action="/home/<%=d._id%>?_method=DELETE" method="POST">
        <button>Delete Entry</button>
        </form>
      </div>
</div>
<% } %>
</div>
<%- include("./partials/footer") %>